@use "./colors";
@use "./fonts";

html {
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-color: colors.$neutral-900;
  font-size: 1rem;
  line-height: 1.65;
  color: colors.$neutral-100;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: fonts.$bold;
  line-height: 1;
  letter-spacing: -6px;
}

.wrapper {
  max-width: 120rem;
  padding-inline: clamp(1rem, 5vw, 6rem);
  margin: auto;
}
