---
import PageHeader from "../components/PageHeader.astro";
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import Button from "../components/Button.astro";


const icon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/></svg>`
---


<PrimaryLayout title="About">
   <div class="flex-row">
    <p class="description">Managed the end-to-end logistics of 3.5-ton truck shipments, overseeing the successful delivery of goods while ensuring cost-efficiency.Negotiated competitive freight rates with clients and carriers, saving in transport costs while meeting service requirements.Monitored and managed proof of delivery documentation, enhancing delivery tracking and reducing errors by.</p>
    <Button 
        type="button"
        variant="primary"
        icon={icon}
    > Resume </Button>
   </div>
</PrimaryLayout>

<div class="img-container">
    <img src="https://images.unsplash.com/photo-1725864832521-e65858ac41c8?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <img src="https://images.unsplash.com/photo-1725864832521-e65858ac41c8?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <img src="https://images.unsplash.com/photo-1725864832521-e65858ac41c8?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <img src="https://images.unsplash.com/photo-1725864832521-e65858ac41c8?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
</div>





<style>

    :root {
        --easing: cubic-bezier(0.39, 0.57, 0.56, 1);
    }
    .flex-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 1rem;

        p {
            max-width: 80ch;
        }
    }

    .img-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        margin-top: 6.25rem;

        img {
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }

    img, .flex-row, .description{
        transform: translateY(2rem);
        opacity: 0;
        transition: all 500ms ease;
    }

   
</style>

<script >

    const images = document.querySelectorAll(".img-container img");
    const text = document.querySelector(".description");
    const button = document.querySelector(".flex-row");
    
    

    const allElements = [button, text, ...images];

    const staggerItems = (elements) => {
        elements.forEach((el, i) => {
            setTimeout(() => {
                el.style.opacity = 1;
                el.style.transform = "translateY(0)";
            }, i * 200);
        })
    }

    document.addEventListener("DOMContentLoaded", () => {
        staggerItems(allElements);
    });

   

    
</script>