---



---


<div class="bg"></div>

<style>
 .bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png');
  background-repeat: repeat;
  opacity: 1;
  visibility: visible;
  
  
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
</style>
<!-- 
<script>
    const canvas = document.querySelector('canvas'),
				 ctx = canvas.getContext('2d')

canvas.width = canvas.height = 128

resize();
window.onresize = resize;

function resize() {
	canvas.width = window.innerWidth * window.devicePixelRatio / 1
	canvas.height = window.innerHeight * window.devicePixelRatio / 1
	canvas.style.width = window.innerWidth + 'px'
	canvas.style.height = window.innerHeight + 'px'
}



// window.setInterval('noise(ctx)',150);
function noise(ctx) {
    
	const w = ctx.canvas.width,
				h = ctx.canvas.height,
				iData = ctx.createImageData(w, h),
				buffer32 = new Uint32Array(iData.data.buffer),
				len = buffer32.length
	  let i = 1

	for(; i < len;i++)
		
		if (Math.random() < 0.5) buffer32[i] = 0xffffffff;

		ctx.putImageData(iData, 0, 0);
}



(function loop() {
    noise(ctx);
    requestAnimationFrame(loop);
})();
</script> -->