---
const {title} = Astro.props;
---


<header class="page-header">
    <h1>{title}</h1>
</header>

<style>
    
    h1 {
        font-size: clamp(3rem, 5vw, 6rem);
        transform: translateX(2rem);
        opacity: 0;
        transition: transform 500ms ease, opacity 500ms ease;
        text-transform: uppercase;
    }


    header {
        --scale: 0;
        position: relative;
        margin-top: 6.25rem;
        padding-bottom: 2.5rem;
    }

    header::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 24px;
        height: 1px;
        width: 100%;
        background-color: #D0D4D8;
        opacity: 0.5;
        transform:  scaleX(var(--scale));
        transform-origin: left;
        transition: transform 1000ms ease;
    }


    
</style>


<script>

    const header = document.querySelector(".page-header");
    const title = document.querySelector("h1");

    const animateTitle = () => {
        title.style.transform = "translateY(0)";
        title.style.opacity = "1";
    }

    const animateUnderline = (el) => {
        el.style.setProperty("--scale", "1"); 
    }
 
    document.addEventListener("DOMContentLoaded", () => {
        
        animateTitle();
        setTimeout(() => {
            animateUnderline(header);
        }, 50)
        
    });

</script>
