---
const {title} = Astro.props;
import Backgorund from "../components/Background.astro";
import Navigation from "../components/Navigation.astro";
import PageHeader from "../components/PageHeader.astro";
import Button from "../components/Button.astro";
import "../styles/style.css";
import ViewTransitions from "astro/components/ViewTransitions.astro";

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap" rel="stylesheet">
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<Backgorund />
        <Navigation transition:persist/>
        
        <div class="wrapper">
            <PageHeader title={title} />
            <slot />
        </div>
        
	</body>
	
</html>


<style>
    body {
        background-color: #171717;
    }
</style>